{% load static %}
<!DOCTYPE html>
<html>
    <body>
            <h1>Welcome</h1>
            <h2>mohammad aljassar</h2>
            <h2>class: programming 2 (django)</h2>
        <a href='https://www.google.com/url?sa=i&url=https%3A%2F%2Fstock.adobe.com%2Fsearch%3Fk%3Ddone&psig=AOvVaw24b8O5yDxET8vnwWeptHty&ust=1760964033380000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCMCWjbGksJADFQAAAAAdAAAAABAE'>Done Image</a>
        <h1> </h1>
        <bar>
            <img src="path/to/your/image.jpg" alt="Done image" width="500" height="600">
        </bar>
    </body>
</html>
